*{
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
}

.master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 47px 0;
}

.cardfront > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    display: flex;
    background-color: transparent;
    width: 117px;
    height: 146px;
    perspective: 1000px;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 117px;
    height: 146px;
    position: relative;
}

.transforma {
    transform: rotateY(180deg);
}

.ponto {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    width: 117px;
    height: 146px;
    
    }

.flip-card-back {
    transform: rotateY(180deg);
    position: absolute;
    left: 0px;
} 

img {
    width: 116px;
    height: 116px;
}

.antispam {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

.aparece {
    display: flex;
    
}

@media only screen and (max-width: 614px) {
    
.cardfront > div {
    flex-wrap: wrap;
}

.cardfront > div > div {
    margin: 15px 100px;
}

.titulo {
    margin: 0 0 10px 0;
}

h1 {
    font-size: 36px;
    margin: 40px 60px 0px 60px;
    text-align: center;
    line-height: 42px;
}

}